<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prosthetics"
    android:versionCode="1"
    android:versionName="1.0">
      
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">
        <activity 
            android:name="com.prosthetics.ProstheticsMonitoringActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.prosthetics.Autostart"
            android:enabled="true"
            android:exported="false"
            android:label="Autostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.prosthetics.BluetoothLinkService"></service>
        <service android:name="com.prosthetics.LocationGathererService"></service>
        <service android:name="com.prosthetics.SyncService" />
        <receiver android:name="com.prosthetics.SyncAlarmReceiver" />

    </application>

</manifest>
